@model IEnumerable<recipe_in_home.Models.Post>

<!DOCTYPE html>
<html>
   <head>
        <link rel="stylesheet" href="~/css/Post.css" />
    </head>
    <body>
<h2>게시글 목록</h2>

<p>
    @Html.ActionLink("새로운 게시글 작성", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th>작성 시간</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Content</td>
                <td>@post.member_id</td>
                <td>@post.CreatedAt.ToString()</td>
                <td>
                    @Html.ActionLink("상세보기", "Details", new { id = post.Postid }) |
                    @Html.ActionLink("수정", "Edit", new { id = post.Postid }) |
                    @Html.ActionLink("삭제", "Delete", new { id = post.Postid })
                </td>
            </tr>
        }
        </tbody>
    </table>
</body>

</html>