@model recipe_in_home.Models.members
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Loginpost", "Member", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div calss="form-horizontal">
        <h4>Member</h4>
        <hr />
        @Html.ValidationSummary(true, "", new {@class = "text=danger"})
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model=>model.member_id, new{HtmlAttribute = new{
            @class = "form-control"} })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model=>model.member_pw, new{HtmlAttribute= new{
            @class = "form-control"} })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@* 
<h2>Detail</h2>

<html>
    <head>
        <style>
            tdid{
                
            }
        </style>
    </head>
    <body>
<table>
    <tr>
        <td>
            아이디
        </td>
        <td class="tdid">
            @Html.TextBoxFor(m=>m.member_id)
        </td>
    </tr>
    <tr>
        <td>
            비밀번호
        </td>
        <td class="tdpw">
            @Html.TextBoxFor(m=>m.member_pw)
        </td>
    </tr>
</table>

</body>
</html> *@